body {
    padding-left:2em;
}

.gpii-panel {
    width: 60em;
    clear: both;
    height: 30em;
}

.gpii-demo-controls {
    float:left;
    margin-right: 2em;
    padding: 1em;
    background-color: #E6E6E6;
    height: 8em;
}

.gpiic-metricsPanel-summary {
    width: 20%;
    float: left;
}

.gpiic-metricsPanel-graph {
    width: 80%;
    float:left;
}

.gpiic-metricsPanel-graph .domain {
    display: none;
}

/* Scales the SVG in relation to its parent container */
.gpiic-metricsPanel-graph svg {
    width: 100%;
    height: 100%;
}

/* y-Axis tick style */
.floec-ca-lineChart-y-axis .tick line {
  stroke: black;
  opacity: 0.2;
}

/* x-Axis tick style */
.floec-ca-lineChart-x-axis .tick line {
  stroke: black;
  opacity: 0.2;
}

/* tick text style */
.floec-ca-lineChart-y-axis .tick text, .floec-ca-lineChart-x-axis .tick text {
    font-family: sans-serif;
    font-size: 11px;
}

/* chart line style */
.floec-ca-lineChart-chartLine {
    stroke: #009688;
}

/* chart line area style */
.floec-ca-lineChart-chartLineArea {
    opacity: 0.5;
    fill: #009688;
}

/* High Contrast Styles */

body.highContrast {
    background-color: black;
    color: white;
}

.highContrast a {
    color: white;
}

.highContrast .gpii-demo-controls {
    float:left;
    margin-right: 2em;
    padding: 1em;
    background-color: black;
    border:1px solid white;
    height: 8em;
}

.highContrast .floec-ca-lineChart-y-axis .tick line {
  stroke: white;
  opacity: 0.2;
}

.highContrast .floec-ca-lineChart-x-axis .tick line {
  stroke: white;
  opacity: 1;
}

.highContrast .floec-ca-lineChart-y-axis .tick text, .highContrast .floec-ca-lineChart-x-axis .tick text {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
}

.highContrast .floec-ca-lineChart-chartLine {
    stroke: white;
}

.highContrast .floec-ca-lineChart-chartLineArea {
    opacity: 1;
    fill: white;
}

/* Large Graphs Styles */

.largeGraphs .gpiic-metricsPanel-graph {
    width: 60em;
}
