.gpii-panel {
    color: #3D4557;
    min-width: 30em;
    width: 100%;
    clear: both;
    margin-top: 2rem;
}

.gpiic-metricsPanel-summary {
    width: 100%;
    background-color: #fff;
    padding: 0.6rem;
}

.gpii-metricsPanel-graph {
    width: 100%;
    background-color: #fff;
    padding: 0.6rem;
    margin-top: 0.1rem;
}

.gpii-metricsPanel-graph .domain {
    display: none;
}

.gpii-metricsPanel-instructions {
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.2rem;
}

/* Scales the SVG in relation to its parent container */
.gpii-metricsPanel-svg {
    width: 100%;
    height: 100%;
}

/* y-Axis tick style */
.floec-ca-lineChart-y-axis .tick line {
  stroke: black;
  opacity: 0.2;
}

/* x-Axis tick style */
.floec-ca-lineChart-x-axis .tick line {
  stroke: black;
  opacity: 0.2;
}

/* tick text style */
.floec-ca-lineChart-y-axis .tick text, .floec-ca-lineChart-x-axis .tick text {
    font-family: sans-serif;
    font-size: 6pt;
}

/* chart line area style */
.floec-ca-lineChart-chartLineArea {
    opacity: 0.5;
}

.gpii-metricsPanel-forwardControl,
.gpii-metricsPanel-backControl {
    border-radius: 0.3rem;
    background-color: #efefef;
    border: 0.1rem solid #000;
    text-decoration: none;
    padding: 0.3rem;
    color: #000;
}

.gpii-metricsPanel-forwardControl:active,
.gpii-metricsPanel-backControl:active {
    color: #efefef;
    background-color: #000;
}

.gpii-metricsPanel-backControl:before {
    content: "\2190";
}

.gpii-metricsPanel-forwardControl:after {
    content: "\2192";
}

@media screen and (min-width: 40em) {
    .gpii-panel {
        display: flex;
        flex-direction: row;
    }

    .gpii-metricsPanel-summary {
        width: 25%;
        background-color: #fff;
        padding: 0.6rem;
        display:inline-block;
        flex: 2.5;
        font-size:0.8rem;
        margin-right: 0.4rem;
    }

    .gpii-metricsPanel-graph {
        display:inline-block;
        width: 75%;
        background-color: #fff;
        padding: 0.6rem;
        margin-top: 0rem;
        flex: 7.5;
    }

    .gpii-metricsPanel-svg {
        width: 85%;
        height: 70%;
        display: inline-block;
    }
    .gpii-metricsPanel-legend thead th {
        visibility: hidden;
    }
    .gpii-metricsPanel-legend {
        width: 15%;
        height: 70%;
        display: inline-block;
        padding-bottom: 2rem;
    }
    .largeGraphs .gpii-metricsPanel-graph {
        flex: 20;
        height: 100%;
    }
    .floe-ca-pieChart-legend-value-cell {
        display: none;
    }.
}

/* High Contrast */

.highContrast .floec-ca-lineChart-y-axis .tick line,
.highContrast .floec-ca-lineChart-x-axis .tick line {
  stroke: #000;
  opacity: 1;
}

.highContrast .floec-ca-lineChart-chartLine {
    stroke: #000;
}

.highContrast .floec-ca-lineChart-chartLineArea {
    opacity: 1;
    stroke: #000;
    fill: #fff;
}

.highContrast .gpii-metricsPanel-forwardControl,
.highContrast .gpii-metricsPanel-backControl {
    background-color: #fff;
    border: 0.1rem solid #000;
}

/*
When the CI results panel is on high contrast, use different thickness of lines to represent
different data sets. Below is to control the stroke thickness for different SVG <path> elements
and corresponding legend cells using their border line thickness.
*/
.highContrast .gpiic-metrics-ci-results .floec-ca-lineChart-chartLine:nth-of-type(2) {
    stroke-width: 2;
}

.highContrast .floe-ca-pieChart-legend-color-cell {
    background-color: #fff !important;
    border-bottom: 0.1rem solid #000;
}

.highContrast .floe-ca-pieChart-legend-table-row:nth-child(2) .floe-ca-pieChart-legend-color-cell {
    border-bottom: 0.3rem solid #000;
}
