body {
    padding-left:2em;

}

.gpii-panel {
    width:1200px;
}

.gpiic-metricsPanel-summary {
    width: 25%;
    float: left;
}

.gpii-metricsPanel-graph {
    width: 75%;
    float:left;
}

.floec-ca-lineChart-y-axis line {
  stroke: black;
  opacity: 0.2;
}

.floec-ca-lineChart-y-axis text, .floec-ca-lineChart-x-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.floec-ca-lineChart-chartLine-area {
    opacity: 0.2;
    fill: black;
}
