.gpii-panel {
    color: #3D4557;
    min-width: 30em;
    width: 100%;
    clear: both;
    margin-top: 2rem;
}

.gpiic-metricsPanel-summary {
    width: 100%;
    background-color: #fff;
    padding: 0.6rem;
}

.gpiic-metricsPanel-graph {
    width: 100%;
    background-color: #fff;
    padding: 0.6rem;
    margin-top: 0.1rem;
}

.gpiic-metricsPanel-graph .domain {
    display: none;
}

.gpii-metricsPanel-instructions {
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.2rem;
}

/* Scales the SVG in relation to its parent container */
.gpiic-metricsPanel-graph svg {
    width: 100%;
    height: 100%;
}

/* y-Axis tick style */
.floec-ca-lineChart-y-axis .tick line {
  stroke: black;
  opacity: 0.2;
}

/* x-Axis tick style */
.floec-ca-lineChart-x-axis .tick line {
  stroke: black;
  opacity: 0.2;
}

/* tick text style */
.floec-ca-lineChart-y-axis .tick text, .floec-ca-lineChart-x-axis .tick text {
    font-family: sans-serif;
    font-size: 6pt;
}

/* chart line style */
.floec-ca-lineChart-chartLine {
    stroke: #009688;
}

/* chart line area style */
.floec-ca-lineChart-chartLineArea {
    opacity: 0.5;
    fill: #009688;
}

.gpii-metricsPanel-forwardControl,
.gpii-metricsPanel-backControl {
    border-radius: 0.3rem;
    background-color: #efefef;
    border: 0.1rem solid #000;
    text-decoration: none;
    padding: 0.3rem;
    color: #000;
}

.gpii-metricsPanel-forwardControl:active,
.gpii-metricsPanel-backControl:active {
    color: #efefef;
    background-color: #000;
}

.gpii-metricsPanel-backControl:before {
    content: "\2190";
}

.gpii-metricsPanel-forwardControl:after {
    content: "\2192";
}

@media screen and (min-width: 40em) {
    .gpii-panel {
        display: flex;
        flex-direction: row;
    }

    .gpiic-metricsPanel-summary {
        width: 30%;
        background-color: #fff;
        padding: 0.6rem;
        display:inline-block;
        flex: 1;
        font-size:0.8rem;
        margin-right: 0.4rem;
    }

    .gpiic-metricsPanel-graph {
        display:inline-block;
        width: 70%;
        background-color: #fff;
        padding: 0.6rem;
        margin-top: 0rem;
        flex: 2;
    }

    .gpiic-metricsPanel-graph svg {
        width: 100%;
        height: 70%;
    }
    .largeGraphs .gpiic-metricsPanel-graph {
        flex: 7;
        height: 100%;
    }
}

/* High Contrast */

.highContrast .floec-ca-lineChart-y-axis .tick line,
.highContrast .floec-ca-lineChart-x-axis .tick line {
  stroke: #000;
  opacity: 1;
}

.highContrast .floec-ca-lineChart-chartLine {
    stroke: #000;
}

.highContrast .floec-ca-lineChart-chartLineArea {
    opacity: 1;
    stroke: #000;
    fill: #fff;
}

.highContrast .gpii-metricsPanel-forwardControl,
.highContrast .gpii-metricsPanel-backControl {
    background-color: #fff;
    border: 0.1rem solid #000;
}
